/* Fonts Imported */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: fit-content;
}

/* Body styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;

  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#a300a3, #ecd5ec);
}

.landing {
}

/* Header */

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  color: #333;
  padding: 10px 15px;
}

.header img {
  width: 50px;
  border-radius: 50%;
  padding: 5px;
}

.header h2 {
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  height: 100px;
}

.navbar .name {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  width: 100%;
  background: #ddd;
  color: #a300a3;
}

.navbar .name img {
  width: 50px;
  padding: 10px;
}

.navbar img {
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Cherished */
.cherished {
  background: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
}

.cherished h2 {
  font-weight: 400;
}

/* Links */
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.links ul li:nth-child(even) {
  background-color: #f8a3f8;
}

.links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.links ul li {
  border: 2px solid #fff;
  margin: 5px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.links ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.links ul li a:hover {
  color: #a300a3;
  transition: all 0.5s ease;
}

.links ul li:hover {
  color: #a300a3;
  background-color: #fff;
  transition: all 0.5s ease;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.footer img {
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.footer h2 {
  font-size: 1rem;
  font-weight: 400;
}

/* Mobile Styles */

@media (min-width: 840px) {
  .navbar {
    padding-top: 35px;
  }
}

@media (max-width: 700px) {
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
